#---------------------------------
# Directories
#---------------------------------
**/node_modules/
#target/
tmp/
typings/

package-lock.json

pub/
.umi/
.umi-production/
.docz

src/theme/config.mri.ts
src/theme/const-env.mri.ts
src/theme/dva.mri.ts
src/theme/route-guard.mri.ts
src/theme/index.ts
src/common/const/interface-mri
src/common/const/index.ts
src/common/services/index.ts
pages/
.theme

#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
src/globe/
